@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    body {
      background-color: #F4F4F4; 
      overflow: hidden;
  }
  .blurred {
    filter: blur(5px); 
  }
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.hover\:vibrate:hover {
  @apply animation-vibrate;
}

@layer utilities {
  .animation-vibrate {
    animation: vibrate 0.3s ease infinite;
  }
}
.messages-container {
  overflow-y: auto;
  height: calc(100% - 120px); /* Adjust according to your design */
}

.message-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
